<div class="card my-3" style="width: 18rem;">
  <%= image_tag url_for(movie.image), class: 'thumbnail' %>
  <div class="card-body">
    <p class="card-text"><strong><%= movie.title %></strong></p>
    <p class="card-text"><%= movie.genre %></p>
  </div>
</div>
