<div id="<%= dom_id theater %>">
  <p>
    <strong>Name:</strong>
    <%= theater.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= theater.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= theater.capacity %>
  </p>
</div>
